<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="icon" href="javascript.png" type="image/png">

  <!-- Bootstrap CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand fw-bold" href="/">
        <img src="/javascript.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
        Proiect
      </a>

      <ul class="navbar-nav me-auto">
        <li class="navbar-item">
          <a class="nav-link" href="/">Acasă</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" href="/about">Despre noi</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" href="/requirements">Primiți o ofertă!</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link active" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container my-2">
    <h1 class="fw-bold">Contactați-ne!</h1>
    <p>Telefon: 07XX XXX XXX</p>
    <p>Email: office@firma-noastra.com</p>
    <p>Adresă: Str. A nr. 1, Clădirea M100, București, Sector 1, Cod Poștal 012345</p>
  </div>

  <!-- Bootstrap JS + Popper.js -->
  <script src="/js/bootstrap.bundle.min.js" language="javascript"></script>
</body>

</html>