<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="icon" href="javascript.png" type="image/png">

  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="javascript.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
        Proiect
      </a>

      <ul class="navbar-nav me-auto">
        <li class="navbar-item">
          <a class="nav-link" href="/">Acasă</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" href="/about">Despre noi</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" href="/offer">Primiți o ofertă!</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link active" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Bootstrap JS + Popper.js + jQuery -->
  <script src="js/bootstrap.bundle.min.js" language="javascript"></script>
</body>

</html>